@font-face {
    font-family: NextArt;
    src: url("fonts/NEXT\ ART_SemiBold.otf");
}

@font-face {
    font-family: MontserratMedium;
    src: url("fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: MonstserratRegular;
    src: url("fonts/Montserrat-Regular.ttf");
}