* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
.BackgroundColor {
    background-color: black;
}
 .Main {
    width: 100%;
    height: 100%;
 }

 .Header {
    height: 13.5vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 }

 .link {
    text-decoration: none;
 }

 .link:hover p {
    color: rgb(120, 120, 120);
 }

 .Logo {
    height: 2.25vh;
    margin-left: 42px;

 }

 .Anchors {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 42px;
 }

 .H1 {
    color: white;
    font-family: NextArt;
    font-size: 100%;
    margin-right: 24px;
 }

 .H2 {
    color: black;
    font-family: NextArt;
    font-size: 100%;
 }

 .btn1 {
    background-color:white;
    border-radius: 12px;
    padding: 12px;
 }

 .startMain {
    width: 100%;
    margin-top: 120px;
 }

 .groupFirst {
    width: 55%;
    margin-left: 42px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
 }

 .H3 {
    color: white;
    font-family: NextArt;
    font-size: 60px;
    margin-bottom: 42px;
 }

 .Text1 {
    color: white;
    font-family: MontserratMedium;
    font-style: normal;
    font-size: 115%;
    /*18px*/
    margin-bottom: 42px;
    margin-right: 18px;
 }

 .H4 {
    color: rgb(255, 255, 255);
    font-family: NextArt;
    font-size: 150%;
    /*24px*/
    border: none;
    outline: none;
    background-color: #000;
 }

 .btn2 {
    background-color: black;
    padding: 18px;
    border-radius: 12px;
    cursor: pointer;
 }

 .rainbow-border {
    background: linear-gradient(45deg, rgba(160, 214, 255, 1), rgba(27, 62, 210, 1), rgba(59, 38, 203, 1), rgba(255, 110, 70, 1), rgba(255, 196, 126, 1));
    padding: 2px;
    border-radius: 12px;
 }

 .Products {
    height: 100%;
    margin-top: 240px;
    margin-left: 42px;
    margin-right: 42px;
 }

 .dividingLine {
    height: 80%;
    width: 100%;
 }

 .group2 {
    width: 55%;
    /*780px*/
    margin-left: 42px;
    margin-top: -18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
 }

 .group3 {
    margin-left: 42px;
    margin-bottom: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
 }

 .groupText {
    width: 96%;
 }

 .groupProduct1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
 }

 .groupProduct2 {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 18px;
 }

 .H5 {
    transition: all 0.5s ease 0s;
    color: white;
    font-family: NextArt;
    font-size: 28px;
    text-align: center;
 }

 .Text2 {
    color: white;
    font-family: MontserratMedium;
    font-style: normal;
    font-size: 12px;
    margin-top: 42px;
    text-align: center;
 }

 .frameProducts2 {
    transition: all 0.5s ease 0s;
    width: 100%;
    height: 222px;
    background-color: black;
    border: 1px solid white;
    padding: 36px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
 }

 .frameProducts2:hover {
    width: 100%;
    height: 222px;
    background-color:white;
    padding: 36px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
 }

 .frameProducts2:hover p {
    color: black;
 }

 .frameProducts3 {
    width: 100%;
    height: 222px;
    background-color: black;
    border: 1px solid white;
    padding: 36px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    margin-left: 18px;
 }

 .frameProducts3:hover {
    width: 100%;
    height: 222px;
    background-color: white;
    padding: 36px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    margin-left: 18px;
 }

 .frameProducts3:hover p {
    color: black;
 }

 .ProgrammTechnology {
    height: 100%;
    margin-top: 120px;
    margin-left: 42px;
    margin-right: 42px;
    margin-bottom: 120px;
 }

 .iconsProgramm {
    width: 100%;
    height: 150px;
    background-color: black;
    border: 1px solid white;
    padding: 36px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
 }

 .iconsProgramm2 {
    width: 100%;
    height: 150px;
    background-color:black;
    border: 1px solid white;
    padding: 36px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    margin-left: 18px;
 }

 .iconsIMG {
    height: 90px;
 }

 .group4 {
    margin-left: 42px;
    margin-right: 42px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
 }


 .Application {
    height: 100%;
    margin-top: 120px;
    margin-left: 42px;
    margin-right: 42px;
    margin-bottom: 120px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 18px;
 }

 .H6 {
    color: rgb(0, 0, 0);
    font-family: NextArt;
    font-size: 66px;
    margin-bottom: 42px;
    margin-top: 42px;
 }

 .H7 {
    color: white;
    font-family: NextArt;
    font-size: 24px;
 }

 .H8 {
    color: rgba(151, 151, 151, 1);
    font-family: MonstserratRegular;
    font-style: normal;
    font-size: 18px;
    text-align: center;
 }

 .selectButtom {
    position: relative;
    cursor: pointer;
    user-select: none;
    height: 66px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    margin-right: 18px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .selectButtom:active {
    background-color: rgb(3, 1, 1);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    margin-right: 18px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .selectButtom:active p {
    color: white;
 }

 .selectButtom2 {
    position: relative;
    cursor: pointer;
    user-select: none;
    height: 66px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    margin-right: 18px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .selectButtom2:active {
    background-color: rgb(3, 1, 1);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    margin-right: 18px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .selectButtom2:active p {
    color: white;
 }

 .selectGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
 }

 .selectFirst {
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
 }

 .selectGroup2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .PolyaSelect {
    margin: 42px;
    display: flex;
    flex-direction: row;
 }

 .TextInput {
    height: 66px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    margin-right: 18px;
    margin-top: 12px;
    padding: 24px;
    color: rgb(0, 0, 0);
    font-family: MonstserratRegular;
    font-style: normal;
    font-size: 18px;
 }

 .BtmInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .btn3 {
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 18px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
 }

 .btn4 {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 18px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
 }
 
 .H10 {
    color: black;
    font-family: NextArt;
    font-size: 150%;
    /*24px*/
    border: none;
    outline: none;
    background-color: white;
 }

 .Asking {
    height: 100%;
    margin-top: 120px;
    margin-left: 42px;
    margin-right: 42px;
    margin-bottom: 120px;
 }

 .Footer {
    width: 100%;
    padding: 42px;
    display: flex;
    flex-direction: row;
 }

 .Logo2 {
    height: 3vh;
 }

 .groupFooter1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

 .groupFooter2 {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .groupFooter3 {
    width: 50%;
    display: flex;
    flex-direction: column;
 }

 .Text3 {
    color: rgba(217, 217, 217, 1);
    font-family: MontserratMedium;
    font-style: normal;
    font-size: 115%;
    /*18px*/
    margin-bottom: 24px;
    margin-right: 18px;
 }

 .H9 {
    color: white;
    font-family: NextArt;
    font-size: 24px;
    margin-bottom: 24px;
 }

 .selected {
    background-color: black;
    color: "#fff"
 }

 .H11 {
    color: black;
    font-family: NextArt;
    font-size: 24px;
 }

  .backButton {
   position: fixed;
   display: flex;
   align-items: center;
   left: 97.5%;
   top: 92.2%;
   width: 2.5vw;
 }

 .backButtonIcon {
   object-fit: cover;
   height: auto;
   width: 100%;
 }

 #popupwindow {
   background: rgba(102, 102, 102, 0.5);
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   display: none;
}

#window {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: center;
   height: 90%;
   margin: 42px;
   background-color: rgb(255, 255, 255);
   border: 1px solid rgb(0, 0, 0);
   border-radius: 18px;
}

.H6Window {
  color: rgb(0, 0, 0);
  font-family: NextArt;
  font-size: 66px;
  margin-bottom: -36px;
}

#popupwindow:target {
   display: block;
}

.closebtn {
   display: inline-block;
   margin-top: 180px;
   width: 48vw;
   background-color: black;
   padding: 18px;
   border-radius: 12px;
   display: flex;
   justify-content: center;
   margin-bottom: 24px;
   cursor: pointer;
}

.close:hover {
   background: black;
   border: none;
   outline: none;
}